*
!api
!asset-pipeline
!bot
!chain
!compose
!cosmetics
!draft
!design-data
!game
!game-analytics
!lib
!matchmaker
!migrator
!patches
!server
!sheets
!state
!webapp
!Cargo.toml
!Cargo.lock
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!ssh_config
!go.mod
!go.sum
!tools.go
!.npmrc
